* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--ui-font-family-base);
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-text-primary);
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: var(--ui-width-scrollbar);
  height: var(--ui-height-scrollbar);
}

::-webkit-scrollbar-track {
  background: var(--ui-color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--ui-color-scrollbar-thumb);
  border-radius: var(--ui-radius-sm);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ui-color-scrollbar-thumb-hover);
}

::selection {
  background-color: var(--ui-color-primary);
  color: var(--ui-color-text-strong);
}
